In [1]:
import pandas as pd
import numpy as np

In [2]:
al_east='https://en.wikipedia.org/wiki/Template:2016_AL_East_standings'
al_central='https://en.wikipedia.org/wiki/Template:2016_AL_Central_standings'
al_west='https://en.wikipedia.org/wiki/Template:2016_AL_West_standings'
nl_east='https://en.wikipedia.org/wiki/Template:2016_NL_East_standings'
nl_central='https://en.wikipedia.org/wiki/Template:2016_NL_Central_standings'
nl_west='https://en.wikipedia.org/wiki/Template:2016_NL_West_standings'
##sets up urls for 6 different data tables, 1 for each division

In [3]:
ale=pd.read_html(al_east)##receive data and assign to a dataframe
ale=ale[0]
ale

,".mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:""[ ""}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:"" ]""}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteAL East",W,L,Pct.,GB,Home,Road
0,Boston Red Sox,93,69,0.574,—,47–34,46–35
1,Toronto Blue Jays,89,73,0.549,4,51–30,38–43
2,Baltimore Orioles,89,73,0.549,4,50–31,39–42
3,New York Yankees,84,78,0.519,9,48–33,36–45
4,Tampa Bay Rays,68,94,0.420,25,36–45,32–49

In [4]:
ale.rename(columns={""".mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteAL East""": "Teams"}, inplace=True)

In [5]:
ale

               Teams   W   L   Pct.  GB   Home   Road
0     Boston Red Sox  93  69  0.574   —  47–34  46–35
1  Toronto Blue Jays  89  73  0.549   4  51–30  38–43
2  Baltimore Orioles  89  73  0.549   4  50–31  39–42
3   New York Yankees  84  78  0.519   9  48–33  36–45
4     Tampa Bay Rays  68  94  0.420  25  36–45  32–49

In [6]:
alc=pd.read_html(al_central)##receive data and assign to a dataframe
alc=alc[0]
alc

,".mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:""[ ""}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:"" ]""}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteAL Central",W,L,Pct.,GB,Home,Road
0,Cleveland Indians,94,67,0.584,—,53–28,41–39
1,Detroit Tigers,86,75,0.534,8,45–35,41–40
2,Kansas City Royals,81,81,0.500,13½,47–34,34–47
3,Chicago White Sox,78,84,0.481,16½,45–36,33–48
4,Minnesota Twins,59,103,0.364,35½,30–51,29–52

In [7]:
alc.rename(columns={""".mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteAL Central""": "Teams"}, inplace=True)

In [8]:
alc

                Teams   W    L   Pct.   GB   Home   Road
0   Cleveland Indians  94   67  0.584    —  53–28  41–39
1      Detroit Tigers  86   75  0.534    8  45–35  41–40
2  Kansas City Royals  81   81  0.500  13½  47–34  34–47
3   Chicago White Sox  78   84  0.481  16½  45–36  33–48
4     Minnesota Twins  59  103  0.364  35½  30–51  29–52

In [9]:
alw=pd.read_html(al_west)
alw=alw[0]##receive data and assign to a dataframe/ multiple tables on page, [0] indicated the first
alw.rename(columns={""".mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteAL West""":"Teams"},inplace=True)
##replaces long columns error name with appropriate column name
alw

                Teams   W   L   Pct.  GB   Home   Road
0       Texas Rangers  95  67  0.586   —  53–28  42–39
1    Seattle Mariners  86  76  0.531   9  44–37  42–39
2      Houston Astros  84  78  0.519  11  43–38  41–40
3  Los Angeles Angels  74  88  0.457  21  40–41  34–47
4   Oakland Athletics  69  93  0.426  26  34–47  35–46

In [10]:
nlc=pd.read_html(nl_central)##receive data and assign to a dataframe
nlc=nlc[0]
nlc.rename(columns={""".mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteNL Central""":"Teams"}, inplace=True)
##replaces long columns error name with appropriate column name
nlc

                 Teams    W   L   Pct.   GB   Home   Road
0         Chicago Cubs  103  58  0.640    —  57–24  46–34
1  St. Louis Cardinals   86  76  0.531  17½  38–43  48–33
2   Pittsburgh Pirates   78  83  0.484   25  38–42  40–41
3    Milwaukee Brewers   73  89  0.451  30½  41–40  32–49
4      Cincinnati Reds   68  94  0.420  35½  38–43  30–51

In [11]:
nle=pd.read_html(nl_east)##receive data and assign to a dataframe
nle=nle[0]
nle.rename(columns={""".mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteNL East""":"Teams"}, inplace=True)
##replaces long columns error name with appropriate column name
nle

                   Teams   W   L   Pct.   GB   Home   Road
0   Washington Nationals  95  67  0.586    —  50–31  45–36
1          New York Mets  87  75  0.537    8  44–37  43–38
2          Miami Marlins  79  82  0.491  15½  40–40  39–42
3  Philadelphia Phillies  71  91  0.438   24  37–44  34–47
4         Atlanta Braves  68  93  0.422  26½  31–50  37–43

In [12]:
nlw=pd.read_html(nl_west)##receive data and assign to a dataframe
nlw=nlw[0]
nlw.rename(columns={""".mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteNL West""":"Teams"}, inplace=True)
##replaces long columns error name with appropriate column name
nlw

                  Teams   W   L   Pct.  GB   Home   Road
0   Los Angeles Dodgers  91  71  0.562   —  53–28  38–43
1  San Francisco Giants  87  75  0.537   4  45–36  42–39
2      Colorado Rockies  75  87  0.463  16  42–39  33–48
3  Arizona Diamondbacks  69  93  0.426  22  33–48  36–45
4      San Diego Padres  68  94  0.420  23  39–42  29–52

In [13]:
##merge dataframe
frames=[ale,alc,alw,nle,nlc,nlw]
df=pd.concat(frames)
df

                   Teams    W    L   Pct.   GB   Home   Road
0         Boston Red Sox   93   69  0.574    —  47–34  46–35
1      Toronto Blue Jays   89   73  0.549    4  51–30  38–43
2      Baltimore Orioles   89   73  0.549    4  50–31  39–42
3       New York Yankees   84   78  0.519    9  48–33  36–45
4         Tampa Bay Rays   68   94  0.420   25  36–45  32–49
0      Cleveland Indians   94   67  0.584    —  53–28  41–39
1         Detroit Tigers   86   75  0.534    8  45–35  41–40
2     Kansas City Royals   81   81  0.500  13½  47–34  34–47
3      Chicago White Sox   78   84  0.481  16½  45–36  33–48
4        Minnesota Twins   59  103  0.364  35½  30–51  29–52
0          Texas Rangers   95   67  0.586    —  53–28  42–39
1       Seattle Mariners   86   76  0.531    9  44–37  42–39
2         Houston Astros   84   78  0.519   11  43–38  41–40
3     Los Angeles Angels   74   88  0.457   21  40–41  34–47
4      Oakland Athletics   69   93  0.426   26  34–47  35–46
0   Washington Nationals   95   67  0.586    —  50–31  45–36
1          New York Mets   87   75  0.537    8  44–37  43–38
2          Miami Marlins   79   82  0.491  15½  40–40  39–42
3  Philadelphia Phillies   71   91  0.438   24  37–44  34–47
4         Atlanta Braves   68   93  0.422  26½  31–50  37–43
0           Chicago Cubs  103   58  0.640    —  57–24  46–34
1    St. Louis Cardinals   86   76  0.531  17½  38–43  48–33
2     Pittsburgh Pirates   78   83  0.484   25  38–42  40–41
3      Milwaukee Brewers   73   89  0.451  30½  41–40  32–49
4        Cincinnati Reds   68   94  0.420  35½  38–43  30–51
0    Los Angeles Dodgers   91   71  0.562    —  53–28  38–43
1   San Francisco Giants   87   75  0.537    4  45–36  42–39
2       Colorado Rockies   75   87  0.463   16  42–39  33–48
3   Arizona Diamondbacks   69   93  0.426   22  33–48  36–45
4       San Diego Padres   68   94  0.420   23  39–42  29–52

In [14]:
df=df.sort_values(by='Pct.', ascending=False)##sorts by winning percentage
df

                   Teams    W    L   Pct.   GB   Home   Road
0           Chicago Cubs  103   58  0.640    —  57–24  46–34
0   Washington Nationals   95   67  0.586    —  50–31  45–36
0          Texas Rangers   95   67  0.586    —  53–28  42–39
0      Cleveland Indians   94   67  0.584    —  53–28  41–39
0         Boston Red Sox   93   69  0.574    —  47–34  46–35
0    Los Angeles Dodgers   91   71  0.562    —  53–28  38–43
2      Baltimore Orioles   89   73  0.549    4  50–31  39–42
1      Toronto Blue Jays   89   73  0.549    4  51–30  38–43
1          New York Mets   87   75  0.537    8  44–37  43–38
1   San Francisco Giants   87   75  0.537    4  45–36  42–39
1         Detroit Tigers   86   75  0.534    8  45–35  41–40
1       Seattle Mariners   86   76  0.531    9  44–37  42–39
1    St. Louis Cardinals   86   76  0.531  17½  38–43  48–33
3       New York Yankees   84   78  0.519    9  48–33  36–45
2         Houston Astros   84   78  0.519   11  43–38  41–40
2     Kansas City Royals   81   81  0.500  13½  47–34  34–47
2          Miami Marlins   79   82  0.491  15½  40–40  39–42
2     Pittsburgh Pirates   78   83  0.484   25  38–42  40–41
3      Chicago White Sox   78   84  0.481  16½  45–36  33–48
2       Colorado Rockies   75   87  0.463   16  42–39  33–48
3     Los Angeles Angels   74   88  0.457   21  40–41  34–47
3      Milwaukee Brewers   73   89  0.451  30½  41–40  32–49
3  Philadelphia Phillies   71   91  0.438   24  37–44  34–47
3   Arizona Diamondbacks   69   93  0.426   22  33–48  36–45
4      Oakland Athletics   69   93  0.426   26  34–47  35–46
4         Atlanta Braves   68   93  0.422  26½  31–50  37–43
4         Tampa Bay Rays   68   94  0.420   25  36–45  32–49
4        Cincinnati Reds   68   94  0.420  35½  38–43  30–51
4       San Diego Padres   68   94  0.420   23  39–42  29–52
4        Minnesota Twins   59  103  0.364  35½  30–51  29–52

In [15]:
df_temp=df.reset_index()##reset index
df=df_temp.reset_index()##resets index again to create order
df

    level_0  index                  Teams    W    L   Pct.   GB   Home   Road
0         0      0           Chicago Cubs  103   58  0.640    —  57–24  46–34
1         1      0   Washington Nationals   95   67  0.586    —  50–31  45–36
2         2      0          Texas Rangers   95   67  0.586    —  53–28  42–39
3         3      0      Cleveland Indians   94   67  0.584    —  53–28  41–39
4         4      0         Boston Red Sox   93   69  0.574    —  47–34  46–35
5         5      0    Los Angeles Dodgers   91   71  0.562    —  53–28  38–43
6         6      2      Baltimore Orioles   89   73  0.549    4  50–31  39–42
7         7      1      Toronto Blue Jays   89   73  0.549    4  51–30  38–43
8         8      1          New York Mets   87   75  0.537    8  44–37  43–38
9         9      1   San Francisco Giants   87   75  0.537    4  45–36  42–39
10       10      1         Detroit Tigers   86   75  0.534    8  45–35  41–40
11       11      1       Seattle Mariners   86   76  0.531    9  44–37  42–39
12       12      1    St. Louis Cardinals   86   76  0.531  17½  38–43  48–33
13       13      3       New York Yankees   84   78  0.519    9  48–33  36–45
14       14      2         Houston Astros   84   78  0.519   11  43–38  41–40
15       15      2     Kansas City Royals   81   81  0.500  13½  47–34  34–47
16       16      2          Miami Marlins   79   82  0.491  15½  40–40  39–42
17       17      2     Pittsburgh Pirates   78   83  0.484   25  38–42  40–41
18       18      3      Chicago White Sox   78   84  0.481  16½  45–36  33–48
19       19      2       Colorado Rockies   75   87  0.463   16  42–39  33–48
20       20      3     Los Angeles Angels   74   88  0.457   21  40–41  34–47
21       21      3      Milwaukee Brewers   73   89  0.451  30½  41–40  32–49
22       22      3  Philadelphia Phillies   71   91  0.438   24  37–44  34–47
23       23      3   Arizona Diamondbacks   69   93  0.426   22  33–48  36–45
24       24      4      Oakland Athletics   69   93  0.426   26  34–47  35–46
25       25      4         Atlanta Braves   68   93  0.422  26½  31–50  37–43
26       26      4         Tampa Bay Rays   68   94  0.420   25  36–45  32–49
27       27      4        Cincinnati Reds   68   94  0.420  35½  38–43  30–51
28       28      4       San Diego Padres   68   94  0.420   23  39–42  29–52
29       29      4        Minnesota Twins   59  103  0.364  35½  30–51  29–52

In [16]:
df.rename(columns={"index":"Division_Standing","level_0":"Overall_Standing"}, inplace=True)
##rename newly made columns
df

,Overall_Standing,Division_Standing,Teams,W,L,Pct.,GB,Home,Road
0,0,0,Chicago Cubs,103,58,0.640,—,57–24,46–34
1,1,0,Washington Nationals,95,67,0.586,—,50–31,45–36
2,2,0,Texas Rangers,95,67,0.586,—,53–28,42–39
3,3,0,Cleveland Indians,94,67,0.584,—,53–28,41–39
4,4,0,Boston Red Sox,93,69,0.574,—,47–34,46–35
5,5,0,Los Angeles Dodgers,91,71,0.562,—,53–28,38–43
6,6,2,Baltimore Orioles,89,73,0.549,4,50–31,39–42
7,7,1,Toronto Blue Jays,89,73,0.549,4,51–30,38–43
8,8,1,New York Mets,87,75,0.537,8,44–37,43–38
9,9,1,San Francisco Giants,87,75,0.537,4,45–36,42–39
10,10,1,Detroit Tigers,86,75,0.534,8,45–35,41–40
11,11,1,Seattle Mariners,86,76,0.531,9,44–37,42–39
12,12,1,St. Louis Cardinals,86,76,0.531,17½,38–43,48–33
13,13,3,New York Yankees,84,78,0.519,9,48–33,36–45
14,14,2,Houston Astros,84,78,0.519,11,43–38,41–40
15,15,2,Kansas City Royals,81,81,0.500,13½,47–34,34–47
16,16,2,Miami Marlins,79,82,0.491,15½,40–40,39–42
17,17,2,Pittsburgh Pirates,78,83,0.484,25,38–42,40–41
18,18,3,Chicago White Sox,78,84,0.481,16½,45–36,33–48
19,19,2,Colorado Rockies,75,87,0.463,16,42–39,33–48
20,20,3,Los Angeles Angels,74,88,0.457,21,40–41,34–47
21,21,3,Milwaukee Brewers,73,89,0.451,30½,41–40,32–49
22,22,3,Philadelphia Phillies,71,91,0.438,24,37–44,34–47
23,23,3,Arizona Diamondbacks,69,93,0.426,22,33–48,36–45
24,24,4,Oakland Athletics,69,93,0.426,26,34–47,35–46
25,25,4,Atlanta Braves,68,93,0.422,26½,31–50,37–43
26,26,4,Tampa Bay Rays,68,94,0.420,25,36–45,32–49
27,27,4,Cincinnati Reds,68,94,0.420,35½,38–43,30–51
28,28,4,San Diego Padres,68,94,0.420,23,39–42,29–52
29,29,4,Minnesota Twins,59,103,0.364,35½,30–51,29–52

In [17]:
df['Overall_Standing']=df['Overall_Standing']+1
df['Division_Standing']=df['Division_Standing']+1
df

,Overall_Standing,Division_Standing,Teams,W,L,Pct.,GB,Home,Road
0,1,1,Chicago Cubs,103,58,0.640,—,57–24,46–34
1,2,1,Washington Nationals,95,67,0.586,—,50–31,45–36
2,3,1,Texas Rangers,95,67,0.586,—,53–28,42–39
3,4,1,Cleveland Indians,94,67,0.584,—,53–28,41–39
4,5,1,Boston Red Sox,93,69,0.574,—,47–34,46–35
5,6,1,Los Angeles Dodgers,91,71,0.562,—,53–28,38–43
6,7,3,Baltimore Orioles,89,73,0.549,4,50–31,39–42
7,8,2,Toronto Blue Jays,89,73,0.549,4,51–30,38–43
8,9,2,New York Mets,87,75,0.537,8,44–37,43–38
9,10,2,San Francisco Giants,87,75,0.537,4,45–36,42–39
10,11,2,Detroit Tigers,86,75,0.534,8,45–35,41–40
11,12,2,Seattle Mariners,86,76,0.531,9,44–37,42–39
12,13,2,St. Louis Cardinals,86,76,0.531,17½,38–43,48–33
13,14,4,New York Yankees,84,78,0.519,9,48–33,36–45
14,15,3,Houston Astros,84,78,0.519,11,43–38,41–40
15,16,3,Kansas City Royals,81,81,0.500,13½,47–34,34–47
16,17,3,Miami Marlins,79,82,0.491,15½,40–40,39–42
17,18,3,Pittsburgh Pirates,78,83,0.484,25,38–42,40–41
18,19,4,Chicago White Sox,78,84,0.481,16½,45–36,33–48
19,20,3,Colorado Rockies,75,87,0.463,16,42–39,33–48
20,21,4,Los Angeles Angels,74,88,0.457,21,40–41,34–47
21,22,4,Milwaukee Brewers,73,89,0.451,30½,41–40,32–49
22,23,4,Philadelphia Phillies,71,91,0.438,24,37–44,34–47
23,24,4,Arizona Diamondbacks,69,93,0.426,22,33–48,36–45
24,25,5,Oakland Athletics,69,93,0.426,26,34–47,35–46
25,26,5,Atlanta Braves,68,93,0.422,26½,31–50,37–43
26,27,5,Tampa Bay Rays,68,94,0.420,25,36–45,32–49
27,28,5,Cincinnati Reds,68,94,0.420,35½,38–43,30–51
28,29,5,San Diego Padres,68,94,0.420,23,39–42,29–52
29,30,5,Minnesota Twins,59,103,0.364,35½,30–51,29–52

In [18]:
##remove unnecessary columns
col=['Overall_Standing','Division_Standing','Teams','Pct.']
df=df[col]
df

    Overall_Standing  Division_Standing                  Teams   Pct.
0                  1                  1           Chicago Cubs  0.640
1                  2                  1   Washington Nationals  0.586
2                  3                  1          Texas Rangers  0.586
3                  4                  1      Cleveland Indians  0.584
4                  5                  1         Boston Red Sox  0.574
5                  6                  1    Los Angeles Dodgers  0.562
6                  7                  3      Baltimore Orioles  0.549
7                  8                  2      Toronto Blue Jays  0.549
8                  9                  2          New York Mets  0.537
9                 10                  2   San Francisco Giants  0.537
10                11                  2         Detroit Tigers  0.534
11                12                  2       Seattle Mariners  0.531
12                13                  2    St. Louis Cardinals  0.531
13                14                  4       New York Yankees  0.519
14                15                  3         Houston Astros  0.519
15                16                  3     Kansas City Royals  0.500
16                17                  3          Miami Marlins  0.491
17                18                  3     Pittsburgh Pirates  0.484
18                19                  4      Chicago White Sox  0.481
19                20                  3       Colorado Rockies  0.463
20                21                  4     Los Angeles Angels  0.457
21                22                  4      Milwaukee Brewers  0.451
22                23                  4  Philadelphia Phillies  0.438
23                24                  4   Arizona Diamondbacks  0.426
24                25                  5      Oakland Athletics  0.426
25                26                  5         Atlanta Braves  0.422
26                27                  5         Tampa Bay Rays  0.420
27                28                  5        Cincinnati Reds  0.420
28                29                  5       San Diego Padres  0.420
29                30                  5        Minnesota Twins  0.364

In [19]:
df=df.set_index(['Overall_Standing'])##sets index to leaderboard
df

                  Division_Standing                  Teams   Pct.
Overall_Standing
1                                 1           Chicago Cubs  0.640
2                                 1   Washington Nationals  0.586
3                                 1          Texas Rangers  0.586
4                                 1      Cleveland Indians  0.584
5                                 1         Boston Red Sox  0.574
6                                 1    Los Angeles Dodgers  0.562
7                                 3      Baltimore Orioles  0.549
8                                 2      Toronto Blue Jays  0.549
9                                 2          New York Mets  0.537
10                                2   San Francisco Giants  0.537
11                                2         Detroit Tigers  0.534
12                                2       Seattle Mariners  0.531
13                                2    St. Louis Cardinals  0.531
14                                4       New York Yankees  0.519
15                                3         Houston Astros  0.519
16                                3     Kansas City Royals  0.500
17                                3          Miami Marlins  0.491
18                                3     Pittsburgh Pirates  0.484
19                                4      Chicago White Sox  0.481
20                                3       Colorado Rockies  0.463
21                                4     Los Angeles Angels  0.457
22                                4      Milwaukee Brewers  0.451
23                                4  Philadelphia Phillies  0.438
24                                4   Arizona Diamondbacks  0.426
25                                5      Oakland Athletics  0.426
26                                5         Atlanta Braves  0.422
27                                5         Tampa Bay Rays  0.420
28                                5        Cincinnati Reds  0.420
29                                5       San Diego Padres  0.420
30                                5        Minnesota Twins  0.364

In [24]:
df.to_csv("mlst3.csv")