In [2]:
import pandas as pd
import numpy as np

In [3]:
##import and store csv file
df=pd.read_csv('Batting1.csv')
df

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108784,zimmebr02,2020,1,BAL,AL,2,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
108785,zimmejo02,2020,1,DET,AL,3,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
108786,zimmeky01,2020,1,KCA,AL,16,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
108787,zuberty01,2020,1,KCA,AL,23,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
108788,zuninmi01,2020,1,TBA,AL,28,75,8,11,4,...,10.0,0.0,0.0,6,37.0,0.0,3.0,0.0,0.0,0.0

In [4]:
##append df with a new column, batting average
df['AVG']=df['H']/df['AB']
df

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,AVG
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0,0.000000
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0,0.271186
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0,0.291971
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0,0.330827
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0,0.325000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108784,zimmebr02,2020,1,BAL,AL,2,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
108785,zimmejo02,2020,1,DET,AL,3,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
108786,zimmeky01,2020,1,KCA,AL,16,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
108787,zuberty01,2020,1,KCA,AL,23,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
108788,zuninmi01,2020,1,TBA,AL,28,75,8,11,4,...,0.0,0.0,6,37.0,0.0,3.0,0.0,0.0,0.0,0.146667

In [5]:
##limit amount of entrys to specific year, 2016, and eliminates those who have less than 100 at bats 
df1= df[(df['yearID']==2016) & (df['AB']>=100)]
df1

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,AVG
101350,abreujo02,2016,1,CHA,AL,159,624,67,183,32,...,0.0,2.0,47,125.0,7.0,15.0,0.0,9.0,21.0,0.293269
101353,adamecr01,2016,1,COL,NL,121,225,25,49,7,...,2.0,3.0,24,47.0,0.0,4.0,3.0,0.0,5.0,0.217778
101355,adamsma01,2016,1,SLN,NL,118,297,37,74,18,...,0.0,1.0,25,81.0,1.0,2.0,0.0,3.0,5.0,0.249158
101359,ahmedni01,2016,1,ARI,NL,90,284,26,62,9,...,5.0,2.0,15,58.0,3.0,4.0,2.0,3.0,9.0,0.218310
101369,almonab01,2016,1,CLE,AL,67,182,24,48,20,...,8.0,0.0,8,42.0,1.0,1.0,0.0,3.0,5.0,0.263736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102815,yelicch01,2016,1,MIA,NL,155,578,78,172,38,...,9.0,4.0,72,138.0,4.0,4.0,0.0,5.0,20.0,0.297578
102820,youngch04,2016,1,BOS,AL,76,203,29,56,18,...,4.0,2.0,21,50.0,0.0,3.0,0.0,0.0,4.0,0.275862
102827,zimmery01,2016,1,WAS,NL,115,427,60,93,18,...,4.0,1.0,29,104.0,1.0,5.0,0.0,6.0,12.0,0.217799
102828,zobribe01,2016,1,CHN,NL,147,523,94,142,31,...,6.0,4.0,96,82.0,6.0,4.0,4.0,4.0,17.0,0.271511
102829,zuninmi01,2016,1,SEA,AL,55,164,16,34,7,...,0.0,0.0,21,65.0,0.0,6.0,0.0,1.0,0.0,0.207317

In [6]:
##removes all unnecessary columns
col=['playerID','teamID','AVG']
df2=df1[col]
df2

         playerID teamID       AVG
101350  abreujo02    CHA  0.293269
101353  adamecr01    COL  0.217778
101355  adamsma01    SLN  0.249158
101359  ahmedni01    ARI  0.218310
101369  almonab01    CLE  0.263736
...           ...    ...       ...
102815  yelicch01    MIA  0.297578
102820  youngch04    BOS  0.275862
102827  zimmery01    WAS  0.217799
102828  zobribe01    CHN  0.271511
102829  zuninmi01    SEA  0.207317

[437 rows x 3 columns]

In [7]:
lead_avg=df2.sort_values(by='AVG',ascending=False)
lead_avg
##reorganizes dataframe in order of batting average from greatest batting average to least

         playerID teamID       AVG
102092  lemahdj01    COL  0.347826
102260  murphda08    WAS  0.346516
102721  turnetr01    WAS  0.342020
101374  altuvjo01    HOU  0.337500
102480  rivertj01    NYN  0.333333
...           ...    ...       ...
101842  gomesya01    CLE  0.167331
101724  eibnebr01    OAK  0.165138
102715  tuckepr01    HOU  0.164179
102458   reedaj01    HOU  0.163934
101598  coghlch01    OAK  0.145570

[437 rows x 3 columns]

In [8]:
temp= lead_avg.reset_index()##resets index
lead=temp.reset_index()
lead
##resets index a second time creating a new column which we will make into our leaderboard

     level_0   index   playerID teamID       AVG
0          0  102092  lemahdj01    COL  0.347826
1          1  102260  murphda08    WAS  0.346516
2          2  102721  turnetr01    WAS  0.342020
3          3  101374  altuvjo01    HOU  0.337500
4          4  102480  rivertj01    NYN  0.333333
..       ...     ...        ...    ...       ...
432      432  101842  gomesya01    CLE  0.167331
433      433  101724  eibnebr01    OAK  0.165138
434      434  102715  tuckepr01    HOU  0.164179
435      435  102458   reedaj01    HOU  0.163934
436      436  101598  coghlch01    OAK  0.145570

[437 rows x 5 columns]

In [9]:
lead['leaderboard'] = lead['level_0']+1 ##creates leaderboard
lead=lead.drop(['index','level_0'], axis=1) ##drop old original index and level_0 columns
lead

      playerID teamID       AVG  leaderboard
0    lemahdj01    COL  0.347826            1
1    murphda08    WAS  0.346516            2
2    turnetr01    WAS  0.342020            3
3    altuvjo01    HOU  0.337500            4
4    rivertj01    NYN  0.333333            5
..         ...    ...       ...          ...
432  gomesya01    CLE  0.167331          433
433  eibnebr01    OAK  0.165138          434
434  tuckepr01    HOU  0.164179          435
435   reedaj01    HOU  0.163934          436
436  coghlch01    OAK  0.145570          437

[437 rows x 4 columns]

In [10]:
##limits df to top 50 in the leaderboard
leader_avg=lead[(lead['leaderboard']<=50)]
leader_avg

     playerID teamID       AVG  leaderboard
0   lemahdj01    COL  0.347826            1
1   murphda08    WAS  0.346516            2
2   turnetr01    WAS  0.342020            3
3   altuvjo01    HOU  0.337500            4
4   rivertj01    NYN  0.333333            5
5   vottojo01    CIN  0.325540            6
6   perazjo01    CIN  0.323651            7
7   blackch02    COL  0.323529            8
8   segurje01    ARI  0.318681            9
9   bettsmo01    BOS  0.318452           10
10  pedrodu01    BOS  0.317536           11
11  cabremi01    DET  0.315966           12
12   dahlda01    COL  0.315315           13
13  maybica01    DET  0.315186           14
14  troutmi01    LAA  0.315118           15
15  ortizda01    BOS  0.314711           16
16  tolesan01    LAN  0.314286           17
17  ramirjo01    CLE  0.311504           18
18  martest01    PIT  0.310838           19
19   leonsa01    BOS  0.309524           20
20  pearcst01    TBA  0.308824           21
21  seageco01    LAN  0.307815           22
22  molinya01    SLN  0.307116           23
23  ramoswi01    WAS  0.307054           24
24  martijd02    DET  0.306522           25
25  braunry02    MIL  0.305284           26
26  pradoma01    MIA  0.305000           27
27  healyry01    OAK  0.304833           28
28  escobyu01    LAA  0.303675           29
29  beltrca01    NYA  0.303621           30
30  realmjt01    MIA  0.302554           31
31  andruel01    TEX  0.302372           32
32  swansda01    ATL  0.302326           33
33  freemfr01    ATL  0.302207           34
34  orlanpa01    KCA  0.301969           35
35    kimhy01    BAL  0.301639           36
36  fraziad01    PIT  0.301370           37
37  lindofr01    CLE  0.301325           38
38  beltrad01    TEX  0.300172           39
39  travide01    TOR  0.300000           40
40   diazal02    SLN  0.299505           41
41  lucrojo01    MIL  0.298817           42
42  sanchga02    NYA  0.298507           43
43  gonzaca01    COL  0.297945           44
44   canoro01    SEA  0.297710           45
45  yelicch01    MIA  0.297578           46
46  goldspa01    ARI  0.297064           47
47  nunezed02    MIN  0.296496           48
48  reddijo01    OAK  0.296296           49
49  cabreme01    CHA  0.296108           50

In [11]:
df3=leader_avg.set_index(['leaderboard'])##sets index to leaderboard
df3

              playerID teamID       AVG
leaderboard
1            lemahdj01    COL  0.347826
2            murphda08    WAS  0.346516
3            turnetr01    WAS  0.342020
4            altuvjo01    HOU  0.337500
5            rivertj01    NYN  0.333333
6            vottojo01    CIN  0.325540
7            perazjo01    CIN  0.323651
8            blackch02    COL  0.323529
9            segurje01    ARI  0.318681
10           bettsmo01    BOS  0.318452
11           pedrodu01    BOS  0.317536
12           cabremi01    DET  0.315966
13            dahlda01    COL  0.315315
14           maybica01    DET  0.315186
15           troutmi01    LAA  0.315118
16           ortizda01    BOS  0.314711
17           tolesan01    LAN  0.314286
18           ramirjo01    CLE  0.311504
19           martest01    PIT  0.310838
20            leonsa01    BOS  0.309524
21           pearcst01    TBA  0.308824
22           seageco01    LAN  0.307815
23           molinya01    SLN  0.307116
24           ramoswi01    WAS  0.307054
25           martijd02    DET  0.306522
26           braunry02    MIL  0.305284
27           pradoma01    MIA  0.305000
28           healyry01    OAK  0.304833
29           escobyu01    LAA  0.303675
30           beltrca01    NYA  0.303621
31           realmjt01    MIA  0.302554
32           andruel01    TEX  0.302372
33           swansda01    ATL  0.302326
34           freemfr01    ATL  0.302207
35           orlanpa01    KCA  0.301969
36             kimhy01    BAL  0.301639
37           fraziad01    PIT  0.301370
38           lindofr01    CLE  0.301325
39           beltrad01    TEX  0.300172
40           travide01    TOR  0.300000
41            diazal02    SLN  0.299505
42           lucrojo01    MIL  0.298817
43           sanchga02    NYA  0.298507
44           gonzaca01    COL  0.297945
45            canoro01    SEA  0.297710
46           yelicch01    MIA  0.297578
47           goldspa01    ARI  0.297064
48           nunezed02    MIN  0.296496
49           reddijo01    OAK  0.296296
50           cabreme01    CHA  0.296108

In [12]:
teams= df3.sort_values('teamID')
teams

              playerID teamID       AVG
leaderboard
47           goldspa01    ARI  0.297064
9            segurje01    ARI  0.318681
34           freemfr01    ATL  0.302207
33           swansda01    ATL  0.302326
36             kimhy01    BAL  0.301639
10           bettsmo01    BOS  0.318452
11           pedrodu01    BOS  0.317536
20            leonsa01    BOS  0.309524
16           ortizda01    BOS  0.314711
50           cabreme01    CHA  0.296108
6            vottojo01    CIN  0.325540
7            perazjo01    CIN  0.323651
38           lindofr01    CLE  0.301325
18           ramirjo01    CLE  0.311504
44           gonzaca01    COL  0.297945
1            lemahdj01    COL  0.347826
8            blackch02    COL  0.323529
13            dahlda01    COL  0.315315
12           cabremi01    DET  0.315966
25           martijd02    DET  0.306522
14           maybica01    DET  0.315186
4            altuvjo01    HOU  0.337500
35           orlanpa01    KCA  0.301969
15           troutmi01    LAA  0.315118
29           escobyu01    LAA  0.303675
17           tolesan01    LAN  0.314286
22           seageco01    LAN  0.307815
46           yelicch01    MIA  0.297578
31           realmjt01    MIA  0.302554
27           pradoma01    MIA  0.305000
26           braunry02    MIL  0.305284
42           lucrojo01    MIL  0.298817
48           nunezed02    MIN  0.296496
30           beltrca01    NYA  0.303621
43           sanchga02    NYA  0.298507
5            rivertj01    NYN  0.333333
49           reddijo01    OAK  0.296296
28           healyry01    OAK  0.304833
19           martest01    PIT  0.310838
37           fraziad01    PIT  0.301370
45            canoro01    SEA  0.297710
23           molinya01    SLN  0.307116
41            diazal02    SLN  0.299505
21           pearcst01    TBA  0.308824
39           beltrad01    TEX  0.300172
32           andruel01    TEX  0.302372
40           travide01    TOR  0.300000
24           ramoswi01    WAS  0.307054
2            murphda08    WAS  0.346516
3            turnetr01    WAS  0.342020

In [13]:
df3.to_csv("mlst2.csv")